<div class="card mt-6">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="fas fa-film"></i></span><span>{{heading}}</span>
    </p>
  </header>
  <div class="card-content">
    <div class="row columns is-multiline">
      {{#each shows}}
      <div class="column is-3">
        <div class="card">
          <a href="/show/{{_id}}">
            <div class="card-image ">
              <figure class="image">
                <img class="object-fit show-image" src="{{#if image }}{{image}}{{else}}/img/placeholder-image.jpg{{/if}}" alt="Show Image">
              </figure>
            </div>
          </a>
          <div class="card-content">
            <p class="title is-4">{{title}}</p>
          </div>
          <div class="card-footer">
            <p class="is-6 show-card-opts"><span class="icon"><i
                  class="fas fa-map-marker-alt"></i></span><span>{{points.length}}</span></p>
            <a href="/show/{{_id}}" class="button">
              <span class="icon">
                <i class="fas fa-eye"></i>
              </span><span>View</span>
            </a>
            {{#if ../isMyMovies}}
            <a href="/my-movies/deleteshow/{{_id}}" class="button">
              <span class="icon"><i class="fas fa-trash"></i></span>
              <span>Delete</span>
            </a>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
       </div>
  </div>
</div>