<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            <span class="icon"><i class="fas fa-image"></i></span><span>Images</span>
        </p>
    </header>
    <div class="card-content">
        <div class="columns is-multiline">
            {{#each point.images as | image|}}
            <div class="tile is-parent column is-4">
                <article class="tile is-child box" data-cy="point-image">
                    <figure class="image mb-4">
                        <img class="object-fit" id="point-list-image" src="{{image}}">
                    </figure>
                    {{#if ../isUserPoint}}
                    <a href="/show/{{../show._id}}/point/{{../point._id}}/deleteimage/{{@index}}" class="button is-pulled-right" data-cy="delete-image"><span
                            class="icon"><i class="fas fa-trash"></i> </span><span>Delete</span></a>
                    <!-- Set Cover Image Button -->
                    {{#unless @first}}
                    <a href="/show/{{../show._id}}/point/{{../point._id}}/setcoverimage/{{@index}}" class="button is-pulled-right mr-2"><span
                            class="icon"><i class="fas fa-thumbtack"></i> </span><span>Set Cover Image</span></a>
                    {{/unless}}
                    {{/if}}
                </article>
            </div>
            {{/each}}
        </div>
    </div>
</div>