<div class="card mb-6">
    <header class="card-header">
        <p class="card-header-title">
            <span class="icon"><i class="fas fa-info-circle"></i></span><span>Overview</span>
        </p>
    </header>
    <div class="card-content">
        <!-- Point Information -->
        <div class="columns is-multiline">
            <div class="column is-6 left-image">
                <img class="is-rounded"
                    src="{{#if point.images }}{{point.images.[0]}}{{else}}/img/placeholder-image.jpg{{/if}}"
                    alt="Show image" />
            </div>
            <div class="column is-6 has-vertically-aligned-content">
                <p class="is-larger mb-5 title" data-cy="point-name">
                    <strong>{{point.name}}</strong>
                </p>
                <p>{{point.description}}</p>
                <br />
                <div class="columns">
                    <div class="column">
                        <p class="heading">
                            <strong>Movie Filmed Here</strong>
                        </p>
                        <p class="subheading">
                            {{show.title}}
                        </p>
                    </div>
                    <div class="column">
                        <p class="heading">
                            <strong>Location</strong>
                        </p>
                        <p class="subheading" data-cy="location">
                            {{toFixed point.latitude 2}}, {{toFixed point.longitude 2}}
                        </p>
                    </div>
                    <div class="column">
                        <p class="heading">
                            <strong>Facilities</strong>
                        </p>
                        <!-- Features -->
                        <p class="subheading">
                            {{#if point.publicTransport}}<span class="icon"><i class="fas fa-bus"></i></span>{{/if}}
                            {{#if point.wheelchairAccessible}}<span class="icon"><i
                                    class="fas fa-wheelchair"></i></span>{{/if}}
                            {{#if point.facilitiesAvailable}}<span class="icon"><i
                                    class="fas fa-restroom"></i></span>{{/if}}
                        </p>
                    </div>
                </div>
                <!-- Weather -->
                <div class="columns">
                    <div class="column">
                        <p class="heading">
                            <strong>Weather</strong>
                        </p>
                        <p class="subheading">
                            {{#if weather.error}}
                            {{weather.error}}
                            {{else}}
                            {{weather.label }}, {{weather.temperature}}ºC
                            {{/if}}
                        </p>
                    </div>
                    {{#if avgStars}}
                    <div class="column" data-cy="rating-overview">
                        <p class="heading">
                            <strong>Rating</strong>
                        </p>
                        <p class="subheading">
                            <span>{{#each avgStars}}<i class="fas fa-star"></i>{{/each}}</span>
                        </p>
                    </div>
                    
                    {{/if}}
                    {{#if isUserPoint}}
                    <div class="column" data-cy="point-visibility">
                        <p class="heading">
                            <strong>Visibility</strong>
                        </p>
                        <p class="subheading">
                            <span class="icon"><i
                                    class="fas fa-{{#if point.isPublic}}lock-open{{else}}lock{{/if}}" data-cy="visibility-icon"></i></span>
                        </p>
                    </div>
                    {{else}}
                    <div class="column"></div>
                    {{/if}}
                </div>
                <!-- Share Location -->
                <div class="ss-box" data-ss-social="email, facebook, twitter, share"
                    data-ss-email="subject:Check out this Filming Location on Mapflix!" data-cy="share-box"></div><br>
                <!-- Add to Favorites -->
                {{#if inFavorites }}
                <a href="/show/{{show._id}}/point/{{point._id}}/remove-from-favorites" data-cy="remove-from-favs">
                    <button class="button is-link is-primary"><span class="icon"><i class="fas fa-heart-circle-xmark"></i> </span><span>
                            Remove From Favorites</span>
                    </button></a>
                {{else}}
                <a href="/show/{{show._id}}/point/{{point._id}}/add-to-favorites" data-cy="add-to-favs">
                    <button class="button is-link is-primary"><span class="icon"><i class="fas fa-heart"></i> </span><span> Add To
                            Favorites</span>
                    </button></a>
                {{/if}}
            </div>
        </div>
    </div>
</div>