{{> errormsg }}
<form action="{{ postUrl }}" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="First Name" name="firstName" value="{{ user.firstName }}"/>
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Last Name" name="lastName" value="{{ user.lastName }}"/>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <input class="input" type="text" placeholder="Email Address" name="email" value="{{ user.email }}"/>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <input class="input" type="password" placeholder="Password" name="password" value="{{ user.password }}"/>
    </div>
    <div class="field is-grouped">
      <button class="button is-link">{{ submitBtnPhrase }}</button>
    </div>
  </form>
