<div class="card" id="commentForm">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="fas fa-{{formIcon}}"></i></span><span>{{formTitle}}</span>
    </p>
  </header>
  <div class="card-content">
    <form action="{{commentPostUrl}}" method="POST">
<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="{{#if loggedInUser.avatar }}{{loggedInUser.avatar}}{{else}}/img/placeholder-image.jpg{{/if}}">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..." name="body" value="{{values.body}}" data-cy="comment-body-input"></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <button class="button is-success" data-cy="add-comment">Submit</button>
        </div>
      </div>
    </nav>
  </div>
</article>
    </form>
  </div>
</div>