<div class="card" id="movieForm">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="fas fa-{{formIcon}}"></i></span><span>{{formTitle}}</span>
    </p>
  </header>
  <div class="card-content">
    <form action="{{postUrl}}" method="POST">

      <div class="field is-horizontal mb-4">
        <div class="field-body">
          <div class="field">
            <label class="label">Title</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Enter movie title" name="title" value="{{values.title}}" data-cy="show-name-input">
              <span class="icon is-small is-left">
                <i class="fa fa-film"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">IMDB ID</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Enter IMBD ID (tt.....)" name="imdbId" value="{{values.imdbId}}" data-cy="imdbid-input">
              <span class="icon is-small is-left">
                <i class="fa fa-clapperboard"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <button class="button is-success is-fullwidth">{{btnTitle}}</button>
    </form>
  </div>
</div>