<table class="table is-fullwidth mt-6">
  <thead>
    <tr>
      <th></th>
      <th>Date Added</th>
      <th>Location</th>
      <th>Features</th>
      <th>Visibility</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each show.points}}
    <tr>
      <td>
        <figure class="image point-image">
          <img src="{{#if images}}{{images.[0]}}{{else}}/img/placeholder-image.jpg{{/if}}">
        </figure>
      </td>
      <td>
        {{name}}
      </td>
      <td>{{dateAdded}}</td>
      <td>
        {{toFixed latitude 2}}, {{toFixed longitude 2}}
      </td>
      <td>
        {{#if publicTransport}}<span class="icon"><i class="fas fa-bus"></i></span>{{/if}}
        {{#if wheelchairAccessible}}<span class="icon"><i class="fas fa-wheelchair"></i></span>{{/if}}
        {{#if facilitiesAvailable}}<span class="icon"><i class="fas fa-restroom"></i></span>{{/if}}
      </td>
      <td><span class="icon"><i class="fas fa-{{#if isPublic}}lock-open{{else}}lock{{/if}}"></i></span></td>
      <td>
        <a href="/show/{{../show._id}}/point/{{_id}}" class="ui icon button">
          <i class="fas fa-eye"></i>
        </a>
        <a href="/show/{{../show._id}}/deletepoint/{{_id}}" class="ui icon button">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>